<section class="section-padding">
  <div class="container-fluid">
    <div class="col-lg-12">
      
    <!-- Localization-->
    <div class="row">
      <small class="breadcrumb">
        Página inicial > {{page}}
      </small>
    </div>
    
    <!-- Title of the Page-->
    <div class="row paddingBot2">
      <!-- Image & Page -->
      <div class="col">
        <img src="../../../assets/img/page1.png" height="50" alt="">
        <span class="titlePage">{{page}}</span>
      </div>
    
      <div class="col">
    
      </div>
    </div>

    </div>
  </div>
</section>