<!-- Sidebar -->
<nav class="sidebar">

  <div class="sidebar-wrapper">

    <!-- Sidebar search    -->
    <div class="sidenav-search">
      <form [formGroup]="formSearch" (ngSubmit)="search()" novalidate>
        <div class="col">
          <div class="row">
            <div class="pr-0 mr-1">
              <input formControlName="search" type="text" class="textSearch border-0" placeholder="Pesquise Aqui">
            </div>
            <div class="pl-0 ml-1">
              <button class="btn btnSearch p-0 m-0" type="submit" id="search">
                <i class="pi pi-search"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- Menu -->
    <div>
      <ul class="side-menu list-unstyled">
        <li>
          <a [routerLink]="[menuItems[0].path]" (click)="titlePage(menuItems[0].title)">
            <span class="image-navbar"><img [src]="menuItems[0].image"></span>
            <span class="text-navbar">{{menuItems[0].title}}</span>
            <span class="{{menuItems[0].class}}"></span>
          </a>
        </li>
        <li>
          <a [routerLink]="[menuItems[1].path]" (click)="titlePage(menuItems[1].title)">
            <span class="image-navbar"><img [src]="menuItems[1].image"></span>
            <span class="text-navbar">{{menuItems[1].title}}</span>
            <span class="{{menuItems[1].class}}"></span>
          </a>
        </li>
        <li>
          <a href="#menuCollapse" aria-expanded="false" data-toggle="collapse">
            <span class="image-navbar"><img [src]="menuItems[2].image"></span>
            <span class="text-navbar">{{menuItems[2].title}}</span>
            <span class="icone-navbar"><img src="../../../assets/img/arrow5.png"></span>
          </a>
          <ul id="menuCollapse" class="collapse list-unstyled ">
            <li *ngFor="let subMenu of subMenuItems">
              <a [routerLink]="[subMenu.path]" (click)="titlePage(subMenu.title)">
                <span class="text-navbar">{{subMenu.title}}</span>
                <span class="{{subMenu.class}}"></span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>